<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#the-monkees-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
     	</button>
		<a class="navbar-brand" href="#/theBandPage">The Monkees</a>      
    </div>

	<div class="collapse navbar-collapse" id="the-monkees-collapse">

		<ul class="nav navbar-nav navbar-right">
			<li><a href='#/theBandPage'>The Band</a></li>
			<li><a href='#/theMembersPage'>The Members</a></li>
			<li><a href='#/theMusicPage'>The Music</a></li>
			<li><a href='#/theSocialPage'>The Social Side</a></li>
			<li><a href='#/theContactPage'>The Contact Details</a></li>
		</ul>
</nav>