<band-nav></band-nav>
<div>
	<h2>The Band</h2>
<div class = "all-members">
	<div class = "band-container">
		<div class = "photo-container">
			<h3>Our latest video!</h3>
			<video poster = " media/images/cover.jpg" controls="controls">
				<source src="media/videos/TheMonkees.mp4" type="video/mp4">
			</video>
		</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<div class = "photo-container">
			<img class= "band-image" src="media/images/monkees2.jpg">
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<div class = "photo-container">
			<img class= "band-image" src="media/images/cover1.jpg">
		</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>
