<band-nav></band-nav>
<div>
	<h2>Social Page</h2>
</div>

<div class = "container">
	<h3> Don't forget, you can follow us on our social media.</h3>
	<div class="col-lg-4">
		<div class = "social-container">
			<h4>Click below to see</h4>
			<h4>our Twitter page</h4>
			<a href = "https://twitter.com/themonkees">
				<img class="social-image" src="media/images/twitter.jpg" width="200" height="200">
			</a>
		</div>
	</div>
	<div class="col-lg-4">
		<div class = "social-container">
			<h4>Click below to see</h4>
			<h4>our Facebook page</h4>
			<a href = "https://www.facebook.com/TheMonkees">
				<img class="social-image" src="media/images/facebook_logo.png" width="200" height="200">
			</a>
		</div>
	</div>
	<div class="col-lg-4">
		<div class = "social-container">
			<h4>Click below to see</h4>
			<h4>our YouTube page</h4>
			<a href = "https://www.youtube.com/user/themonkees">
				<img class="social-image" src="media/images/youtube.png" width="200" height="200">
			</a>
		</div>
	</div>
</div>